[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ET (alldigital)
[access "refs/for/refs/*"]
	read = group user/ET (alldigital)
	push = group user/ET (alldigital)
	label-Code-Review = -2..+2 group user/ET (alldigital)
	label-Verified = -1..+1 group user/ET (alldigital)
	rebase = group user/ET (alldigital)
	removeReviewer = group user/ET (alldigital)
	submit = group user/ET (alldigital)
[access "refs/heads/*"]
	read = group user/ET (alldigital)
	create = group user/ET (alldigital)
	push = +force group user/ET (alldigital)
	pushMerge = group user/ET (alldigital)
[access "refs/tags/*"]
	push = group user/ET (alldigital)
	push = +force group user/ET (alldigital)
